span.OptionCategoryName {
    font-weight: bold;
}

div.ProductOptionSelector  {
    margin-top: .5rem;
}
input.AddToCartButton {
    display: inline-block;
    min-width: 90px;
}

input.AddToCartTextBox {
    display: inline;
    padding-top: 1px;
    margin: 0 10px;
}


.AddToCartContainer .UnitsLabel {
   color: gray;
}


div.ProductOptionSelector span label {
    position: relative;
    display: inline;
}

div.ProductOptionSelector span input[type=checkbox] {

    margin-top: .5rem;
}

.TotalPriceContainer {
    margin: 1rem 0;

}
.TotalPriceContainer .TotalPriceLabel {
    display: block;

}
.TotalPriceContainer .TotalPrice {
   
    color: #00b28b;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.TotalPriceContainer span.TotalPrice:not(:empty)::after {
   
    content: " THB";
}

#mainNav .navbar .nav-wrapper #navSecondary .navbar-nav .nav-item .nav-link.search {
   
    min-width: 47px;

}
#mainNav .navbar .nav-wrapper #navSecondary .navbar-nav .nav-item .nav-link.cart {
    background: url(../assets/img/icons/shopping-basket-1.png) center center no-repeat;
    background-size: auto 1.7em;
    opacity: .6;
    min-width: 47px;
    text-indent: -100vw;
    display:block;
}
#mainNav .navbar .nav-mobile .nav-item:first-child {
        border-left: 0px;
}
#mainNav .navbar .nav-mobile .nav-item.cart img {
        opacity: .6;
}


#mainNav .navbar .nav-mobile .nav-item .nav-link {
    text-align: center;
}
li.nav-item.cart::before {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: red;
    border-radius: 20px;
    padding: 2px 7px;
    font-size: .7rem;
    z-index: 1;
    color: white;
}
li.nav-item.cart-container {
    position: relative;
}

li.nav-item.cart-container::before {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: red;
    border-radius: 20px;
    padding: 2px 7px;
    font-size: .7rem;
    z-index: 1;
    color: white;
}

.AddToCartButton.buttonload {
  background-color: #4CAF50; /* Green background */
  
}

div.ecommerce_customer span.FormErrorLabel, div.ecommerce_address span.FormErrorLabel {
    color:red;
}
div.CartContent .package-item div.item-price {
    text-align:right;
}
.package .line-through, .packageListing .line-through .TotalPriceLineThrough{
  text-decoration: line-through;
  color: red;
}

.show-grid .table th,.show-grid .table td {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

@media only screen and (max-width: 767px) {
  .page-package-detail .step{ 
    display:none;
  }
}

.pages-checkout-success .TotalViewer {
  text-align: right;
  margin-top: 20px;
  }
.pages-checkout-success .TotalViewer .Label {
  position: absolute;
  text-align: left;
  font-weight: bold;
  }

.cart a.nav-link {
    display: block;
}

.package-list .btn {
  width: 100%;
  margin-top: 5px;
  white-space: normal;
  text-transform: uppercase;
}


.package-list .btn.AddToCartButton
{
  margin-bottom: 5px;
}

.rowpackage
{
    padding: 5px;
    border: 1px solid #888;
    width: 97%;
    margin-top: 10px;
    margin-left: 10px;
}

.package-list-desc
{
   font-size: 0.9rem;
}

.package-list .btn.AddToCartButton {
    background: transparent;
    color: #00b28b;
}

.package-list-desc a
{
  color: #646569;
}

.producttitle {
    text-decoration: underline;
    font-weight: bold;
}

.productdesc
{
  font-size: 0.9rem;
  color: #646569
}

p.contactInfo__description.col-6.text-center {
    text-align: right !important;
}

p.contactInfo__title.col-6.text-center {
    text-align: left !important;
}

.packageTerm .contactInfo__description {
    text-align: right;
}

td.shippingcost {
    text-align: right;
}

td.shippinglabel {
    color: #0bb288;
}